
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <h1 class="Heading"><img src="~/TheFlem.png" ></h1>
    <div class="Main">
        <div class="topnav">
            <a class="active" href="https://localhost:44371/Project/SignUp">Sign Up Here</a>
            <a href="https://localhost:44371/Project/Login">Login Here</a>
        </div>
        <div class="About">
            <h1>Constantly worried about your health?</h1>
        </div>
        <div class="Input">
            <p class="Text">
                Are you worrying about your health too much? Are you constantly fearing diseases?
                <br />
                Have you lost someone to late pickup of a disease?
                <br />
                Get ease of mind with Flem
            </p>
            <hr />
        </div>
    

    <br />
    <div class="About">
        <h1>Why use Flem?</h1>
        <p class="Text">
            It allows you to monitor your vitals in real time
            <br />
            It can alert you if one of your vitals are in a critical state
            <br />
            It keeps track of health status
        </p>

    </div>   
</div>
    
</body>
</html>