
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <a href="https://localhost:44371/Project/Home"><h1 class="Heading"><img src="~/TheFlem.png"></h1></a>
    <h1 class="Heading">Login</h1>
    <div class="topnav">
        <a class="active" href="https://localhost:44371/Project/SignUp">Sign Up</a>
        <a class="active" href="https://localhost:44371/Project/Home">Home</a>
    </div>

    <div class="Login">

        <form action="WelcomePage">
            <label for="txtUsername">Username</label>
            <br />
            <input type="text" id="txtUsername" name="Username" placeholder="Your username">
            <br />
            <label for="txtPassword">Password</label>
            <br />
            <input id="txtPassword" type="password" placeholder="Your password" />
            <br />
            <input type="Submit" value="Login">
        </form>

    </div>

    <div>

    </div>
</body>
</html>
