
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>MedicalInfo</title>
</head>
<body>
    <h1 class="Heading">Medical Info</h1>
    <div class="topnav">
        <a href="https://localhost:44371/Project/WelcomePage">Welcome Page</a>
        <a href="https://localhost:44371/Project/PatientDetails">Patient Details</a>
    </div>
    <div class="Login">

        <form action="UpdateMedicalInfo">
            <label for="txtIllness">Type of Illness: Infleunza</label>
            <br />
            <label for="txtAid">Medical Aid: Discovery Health</label>
            <br />
            <label for="txtAid">Medication: Oseltamivir</label>
            <br />
            <input type="Submit" value="Update Details">
        </form>

    </div>
    <div>
    </div>
</body>
</html>
