
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>PatientDetails</title>
</head>
<body>
    <h1 class="Heading">Patient Details</h1>
    <div class="topnav">
        <a href="https://localhost:44371/Project/MedicalInfo">Medical Info</a>
        <a href="https://localhost:44371/Project/WelcomePage">Welcome Page</a>
    </div>
    <div class="Login">

        <form action="UpdatePatientDetails">
            <label for="txtAge">Age: John Jameson</label>
            <br />
            <label for="txtContact">Contact Details: 0839871012</label>
            <br />
            <label for="txtAddress">Address: 55 Holland Street, Hatfield, Pretoria</label>
            <br />
            <input type="Submit" value="Update Details">
        </form>

    </div>
    <div>
    </div>
</body>
</html>
