
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <title>UpdatePatientDetails</title>
</head>
<body>
    <h1 class="Heading">Update Personal Info</h1>
    <div class="Login">

        <form action="WelcomePage">
            <label for="txtContact">Contact Details:</label>
            <br />
            <input type="text" id="txtContact" name="Contact" placeholder="Update your phone number">
            <br />
            <label for="txtAddress">Address:</label>
            <br />
            <input type="text" id="txtAddress" name="Address" placeholder="Update your address">
            <br />
            <input type="Submit" value="Update">
        </form>

    </div>
    <div>
    </div>
</body>
</html>
