
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>WelcomePage</title>
</head>
<body>
    <a href="https://localhost:44371/Project/Home"><h1 class="Heading"><img src="~/TheFlem.png"></h1></a>
    <div class="topnav">
        <a href="~/Views/Project/MedicalInfo.cshtml">Medical Info</a>
        <a href="https://localhost:44371/Project/PatientDetails">Patient Details</a>
        <a href="https://localhost:44371/Project/Home">Sign Out</a>
    </div>
    <div class="Main">
        <div class="About">
            <h1>Welcome, James Jameson. Here are your most recent vitals</h1>
            <hr />
        </div>
        <table class="customers">
            <tr>
                <th colspan="9">Vitals</th>
            </tr>
            <tr>
                <td>Heart Rate</td>
                <td>Blood Sugar</td>
                <td>White Blood Cell Count</td>
                <td>Red Blood Cell Count</td>
                <td>Glucose Level</td>
                <td>Cholesterol Levels</td>
                <td>Blood Pressure</td>
                <td>Body Mass Index</td>
                <td>Iron Levels</td>
            </tr>
            <tr>
                <td id="hRate"></td>
                <td id="bSugar"></td>
                <td id="wBlood"></td>
                <td id="rBlood"></td>
                <td id="glucose"></td>
                <td id="cholesterol"></td>
                <td id="bPressure"></td>
                <td id="antibodies"></td>
                <td id="iLevels"></td>
            </tr>
        </table>
        <button type="button" onclick="Vitals()">Update Vitals</button>
    </div>
    <script src="~/Scripts/JavaScript.js"></script>
</body>
</html>
