body {
    background-color:ghostwhite;
}

table {

}

hr {
    height: 3px;
    color: dodgerblue;
    background-color: dodgerblue;
    border: none;
}

.Main {
    padding: 50px 100px 50px 100px;
    text-align: center;
    background-color: #f2f2f2;
}

.Heading {
    text-align: center;
    font-family: 'Sitka Display';
    color:dodgerblue;
}

.Text {
    text-align: center;
    font-family:"sans-serif";
}

.About {
    text-align: center;
    font-family: 'Sitka Display';
    background-color: #f2f2f2;
}

* Add a black background color to the top navigation */
.topnav {
    background-color: cadetblue;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: cadetblue;
    text-align: center;
    padding: 0px 10px ;
    text-decoration: none;
    font-size: 17px;
}

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: dodgerblue;
        color: black;
    }

input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: dodgerblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Login {
    background-color: #f2f2f2;
    text-align:center;
    padding: 20px 20px 20px 20px
}

.customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    .customers td, .customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .customers tr:hover {
        background-color: #ddd;
    }

    .customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: dodgerblue;
        color: white;
    }